# WebStorm
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf
/.idea/*.iml

# Mono Repo
/node_modules
/dist
/build
/.pnpm-debug.log

# Packages
/packages/*/node_modules
/packages/*/dist
/packages/*/build
/packages/*/.pnpm-debug.log

