link-workspace-packages = true
prefer-workspace-packages = true
shared-workspace-lockfile = true
save-workspace-protocol = true
engine-strict=true
git-checks=false
publish-branch=master
prefer-frozen-lockfile=true
strict-peer-dependencies=true
